.sobre-contato {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
 }
 
 /* SOBRE */
 
 .sobre {
    width: 44vw;
    height: 414px;
    background-color: #2c2c2c;
    border-radius: 32px;
 }
 
 .titulo-sobre {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 
 .sobre span {
    width: 180px;
    height: 34px;
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(#a004ff, #6704b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .txt-sobre {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 24px;
 }
 h3 {
    width: 478px;
    height: 68px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 600;
    color: white;
 }
 
 .txt-sobre p {
    width: 90%;
    height: 238px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    padding-bottom: 24px;
 }
 
 /* CONTATO */
 
 .contato {
    width: 44vw;
    height: 414px;
    background-color: #2c2c2c;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .contato span {
    width: 180px;
    height: 34px;
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(#a004ff, #6704b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
 }
 
 .redes-sociais {
    display: flex;
    margin-top: 60px;
    gap: 20px;
    
 }
 
 .redes-sociais:hover {
    cursor: pointer;

 }
 
 .redes-sociais img:hover {
    cursor: pointer;
    width: 65px;
    height: 65px;
 }
 
 .redes-sociais img {
    width: 49px;
    height: 49px;
    transition-property: all;
    transition-duration: 0.3s;
 }
 
 .circulo {
    width: 121px;
    height: 121px;
    background-image: linear-gradient(#a004ff, #6704b6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .btn {
    width: 240px;
    height: 70px;
    background-image: linear-gradient(#a004ff, #6704b6);
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 59px;
 }
 
 H4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: white;
    width: 176px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
    
 }
 
 h4:hover {
    font-size: 24.7px;
    letter-spacing: 1px;
 }

 @media (max-width:900px){
   .sobre-contato {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-top: 16px;
      padding-bottom: 16px;
   }
   .sobre {
      width: 90vw;
      height: 500px;
   }
   .txt-sobre p {
      width: 95%;
      height: 238px;
      font-size: 20px;
      line-height: 22px;
   

   }
   
   .contato {
         width: 90vw;
         height:350px;
      }
      
      h3 {
         width: 300px;
         line-height: 30px;
         font-size: 30px;
       transform: translateY(-10px);
      }
      .redes-sociais img:hover {
      
         width: 40px;
         height: 40px;
      }
      
      .redes-sociais img {
         width: 30px;
         height: 30px;
   
      }
      .circulo {
         width: 65px;
         height: 65px;
      }
}