* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "poppins";
}

body {
   background-color: #171717;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}

a {
   text-decoration: none;
}


main {
   width: 1232px;
   margin: auto;
}
